.okIdea{
    
    display: flex;
    justify-content: space-around;
   background-color: lightgray;
    width: 40%;
    border: 1px solid black
    
}
.dek{
    background-color:lightgrey;
    display: flex;
    width: 100%;
    height: 100%;

}
.dek > *:nth-child(2){
   display: flex;
   justify-content: center;
   align-content: center
   

}
.ideaForm1{
    width: 32%;
    
   
}
.ideaEditForm{
    background-color: lightgray
}
.ideas3{
    width: 32%;
    background-color: lightgray;
    border: 1px solid black
    
}
.better{
    
    width: 32%;
    background-color: lightgray;
    border: 1px solid black
   
   
}
.card-body{
    padding: 3%;
    margin: 2%;
    box-shadow: 0 4px 8px 0 rgba(1,1,31,0.2);
    transition: 0.31s;
    
}
.test{
    width: 50%;
    padding: 2%;
   
}
