.Main {

        display: flex;
        justify-content: space-around;
        flex-direction: row;
      
}
.card{
        background-color: lightgray
}
.test{
        border: 1px solid black;
        max-width: 32%;
}
.card-body{
        display: block;
        color:black;
        max-width: 90%;
        
}
.forms{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 90vh;
        max-width: 1500px;
        margin: 0 auto;
        margin-top: 5vh;
        -webkit-perspective: 1000px;
                perspective: 1000px;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
}
.forms{
        -webkit-box-flex: 1;
        -ms-flex: 1 4 auto;
            flex: 1 4 auto;
    padding: 2rem;
    border: 1rem double #1a1a1a;
    position: relative;
    background: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.1);
            box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    
}